.hero {
  position: relative;
  height: 100px;
  max-width: 95%;
  margin: 0 auto;

  color: #DCA417;
  background: url("/dist/images/hero.png") center no-repeat;

  text-align: center;

  @media @nav-query {
    height: 300px;
  }
}

.hero__next {
  position: absolute;
  left: 0;
  right: 0;

  bottom: 20px;
  margin: 0 auto;
  width: 80px;
  height: 80px;

  display: block;
  border: solid @white 3px;
  border-radius: 50%;
  background: url('/dist/images/arrow.svg') no-repeat;
  background-position: center;

}
